body,
html {
  margin: 0;
  font-family: 'Montserrat';
  scroll-behavior: smooth;
}

.right {
  align-self: flex-end;
}

.main-container {
  width: 100%;
}

.scroll-down {
  bottom: 0;
}

.scroll-top {
  top: 50px;
}

.scroll {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.2;
}

.search {
  display: flex;
  align-items: stretch;
  gap: 10px;
}

.search input {
  outline: none;
  font-size: 1rem;
  padding: 0.2rem;
  border: none;
  font-weight: 100;
}

.search .btn {
  background-color: beige;
  appearance: none;
  outline: none;
  border: none;
  padding: 0;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.toggle {
  background-color: beige;
  height: 100%;
  width: 32px;
  height: 32px;
  display: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-inline: auto;
  padding-inline: 2rem;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 50;
  height: 51px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.nav li a {
  text-decoration: none;
  padding: 1rem 0;
  display: inline-block;
  color: whitesmoke;
}

.nav li a:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100vh;
  gap: 100px;
}

.hero .desc {
  max-width: 730px;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  display: flex;
  flex-direction: column;
}

.hero .desc a {
  color: #000;
}

.hero .desc p span {
  font-size: 48px;
}

.footer {
  height: 195px;
  background-color: black;
}

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  height: 100%;
  gap: 10px;
  align-items: start;
}

.contact a {
  color: white;
}

.splide .splide__arrows {
  display: none;
}

.splide .splide__pagination {
  bottom: -50px;
}

.splide .splide__pagination .splide__pagination__page {
  width: 22px;
  height: 22px;
  margin: 10px;
  background-color: #000000;
  opacity: 1;
}
.splide .splide__pagination .splide__pagination__page.is-active {
  opacity: 1;
}

.splide.perfumes .splide__pagination .splide__pagination__page.is-active {
  background-color: #ffd700;
}

.splide.gifts .splide__pagination .splide__pagination__page.is-active {
  background-color: #ce0000;
}

.splide.tools .splide__pagination .splide__pagination__page.is-active {
  background-color: #ffd700;
}

.toggle-back {
  display: none;
}

.toggle-back button {
  border-radius: 999px;
  appearance: none;
  border: none;
  display: flex;
  align-content: center;
  justify-content: center;
  background: transparent;
}

.toggle-back button img{
  width: 24px;
  height: 24px;
}

@media (max-width: 782px) {
  .navbar .container {
    padding-inline: 10px;
  }
  .nav {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 50%;
    margin-left: -350px;
    flex-direction: column;
    background-color: #000;
    transition: all 0.2s linear;
    justify-content: center;
  }
  .nav li a {
    padding-left: 20px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-size: 0.7rem;
  }
  .nav.nav-visible {
    margin-left: 0;
  }
  .toggle {
    display: block;
  }

  .toggle-back {
    display: flex;
    justify-content: center;
  }

  .splide .splide__pagination {
    bottom: 0.2rem;
  }

  .splide .splide__pagination .splide__pagination__page {
    width: 8px;
    height: 8px;
    margin: 5px;
  }

  .hero {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    height: auto;
    min-height: 100vh;
  }

  .hero.container {
    padding-inline: 10px;
  }

  .hero.hero-gift,
  .hero.hero-tools {
    padding-top: 82px;
    padding-bottom: 50px;
  }

  .hero.hero-perfumes {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hero .desc {
    max-width: 730px;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
  }

  .hero .desc p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .scroll img {
    width: 32px;
  }

  .hero .desc p span {
    font-size: 24px;
  }
}
